<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net452" />
  <package id="DotNetOpenAuth.OAuth2.Client" version="4.3.4.13329" targetFramework="net452" />
  <package id="DotNetOpenAuth.OAuth2.ClientAuthorization" version="4.3.4.13329" targetFramework="net452" />
  <package id="DotNetOpenAuth.OAuth2.Core" version="4.3.4.13329" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.0.20505.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="4.5.8" targetFramework="net452" />
  <package id="RestSharp" version="104.0" targetFramework="net452" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net452" />
</packages>